<div class="row mt-2 mb-2">
  <!-- Web App Logo -->
  <div class="col logo">
    <h1>The Hawkers Journal</h1>
  </div>
</div>

<div class="row">
  <div class="col align-items-center">
    <div class="login-card shadow-lg mx-auto">
      <!-- Login Form -->
      <h3>Login</h3>

      <form class="border-top" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row mt-3">
          <div class="col">
            <!-- Username Input Code -->
            <div class="form-group">
              <label for="usernameInput">Username</label>
              <input
                matInput
                type="text"
                class="form-control textual-input"
                formControlName="username"
                id="usernameInput"
                placeholder="Enter Username"
                />
              <mat-error *ngIf="username.dirty && username.touched">
                Invalid Username
              </mat-error>
            </div>

            <!-- Password Input Code -->
            <div class="form-group">
              <label for="passwordInput">Password</label>
              <input
                matInput
                type="password"
                class="form-control textual-input"
                id="passwordInput"
                placeholder="Enter Password"
                formControlName="password"
                />
            </div>

            <mat-error *ngIf="password.dirty && password.touched">
              Invalid Password
            </mat-error>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col d-flex justify-content-between">
            <!-- Remember Me Code -->
            <div class="form-check d-flex align-items-center mr-1">
              <mat-checkbox id="rememberMeInput" formControlName="remember">
                Remember Me
              </mat-checkbox>
            </div>
            <!-- Login Button -->
            <!-- [disabled]="loginForm.invalid" -->
            <button mat-stroked-button type="submit" class="btn">Log-In</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
