footer {
  background-color: #1a1a1a;
  width: 100%;
  color: white;
  padding-top: 20px;
  margin-top: 20px;
  font-size: 15px;
}

footer a {
  color: #5c9aff;
}

.list-group a:hover {
  color: black;
}

.list-group a {
  color: black;
}

footer a:hover {
  color: white;
}

.list-group {
  min-width: 200px;
  max-width: 300px;
  margin-right: 40px;
  margin-top: 10px;
}

.list-group-head{
  padding: 5px;
  background-color: black;
  font-weight: 700;
}

.list-group-item {
  padding: 5px;
  font-weight: 900;
}