<footer>
	<div class="container-fluid">

		<!-- SiteMap Links -->
		<div class="row mb-2 ml-5 mr-5 pb-3 border-bottom border-white align-items-center">
			<div class="col-lx-4">
				<div class="list-group">
					<!-- News Related Pages -->
					<div class="list-group-head">News Services</div>
					<a href="#" class="list-group-item list-group-item-action">Browse News</a>
					<a href="#" class="list-group-item list-group-item-action">My News</a>
					<a href="#" class="list-group-item list-group-item-action">Search Articles</a>
				</div>
			</div>

			<div class="col-lx-4">
				<div class="d-flex flex-row">
					<div class="list-group">
						<!-- Account Related Pages -->
						<div class="list-group-head">Account</div>
						<a href="#" class="list-group-item list-group-item-action">Sign-In</a>
						<a href="#" class="list-group-item list-group-item-action">Sign-Up</a>
						<a href="#" class="list-group-item list-group-item-action">My Account</a>
					</div>
				</div>
			</div>

			<!-- Other Usefull Links -->
			<div class="col mt-3">
				<div>
					<a href="#">Terms Of Use</a>
					<br>
					<a href="#">Privacy Policy</a>
					<br>
					<a href="#">Site Map</a>
				</div>
			</div>
		</div>
		<!-- Legal -->
		<div class="row ml-5 mr-5 pb-3">
			<div class="col">
				<small> Copyright &#169; 2021 Philippos Kalatzis, All rights reserved.</small>
			</div>
		</div>
	</div>
</footer>