<footer>
	<div class="container-fluid">

		<div class="row mb-2 ml-5 mr-5 pb-3 border-bottom border-white align-items-center">
			<div clas="col">

				<div class="list-group">
					<div href="#" class="list-group-item list-group-item-action active">News Services</div>
					<a href="#" class="list-group-item list-group-item-action">Browse News</a>
					<a href="#" class="list-group-item list-group-item-action">My News</a>
					<a href="#" class="list-group-item list-group-item-action">Search Articles</a>
				</div>
			</div>

			<div class="col">
				<div class="list-group">
					<div href="#" class="list-group-item list-group-item-action active">Account</div>
					<a href="#" class="list-group-item list-group-item-action">Sign-In</a>
					<a href="#" class="list-group-item list-group-item-action">Sign-Up</a>
					<a href="#" class="list-group-item list-group-item-action">My Account</a>
				</div>
			</div>
			<div clas="col">
				<a href="#">Terms Of Use</a>
				<br>
				<a href="#">Privacy Policy</a>
				<br>
				<a href="#">Site Map</a>
				<br>
			</div>
		</div>
		<div class="row ml-5 mr-5 pb-3">
			<div class="col">
				<small> Copyright &#169; 2021 Philippos Kalatzis, All rights reserved.</small>
			</div>
		</div>
	</div>
</footer>