<div class="row">
  <div class="col">
    <form (submit)="updateNewsFeed()" onsubmit="return false">
      <div class="form-group" *ngFor="let topic of topics">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            value="{{ topic }}"
            name="{{ topic }}"
            type="checkbox"
          />
          <label class="form-check-label" for="{{ topic }}">{{ topic }}</label
          ><br />
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary button-spacing" type="submit">Search</button>
        <button class="btn btn-primary button-spacing" type="reset">Reset</button>
        <button class="btn btn-primary button-spacing" (click)="unsub()">UNSUB</button>
      </div>
    </form>
  </div>
</div>
