.heading h1 {
  font-family: "Cinzel";
  border-bottom: 3px solid black;
  line-height: 1.2;
  text-shadow: 1px 2px 15px gray;
  font-size: 25px;
}

.heading a {
  text-decoration: none;
}

.heading {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

header {
  min-height: 100px;
  position: sticky;
  top: 0%;
  z-index: 10;
  background-color: white;
}

.navbar {
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.category-wrapper button {
  height: 30px;
  line-height: 0px;
  margin: 3px;
}
