<header>
  <div class="container-fluid">
    <div class="row align-items-center border-bottom test">
      <div class="col-xl-2 heading">
        <!-- Web App Logo -->
        <div class="heading">
          <a routerLink="homepage">
            <h1>The Hawkers Journal</h1>
          </a>
        </div>
      </div>
      <!-- Main Navigation -->
      <div class="col-xl-8">
        <div class="navbar-wrapper">

          <!-- Normal Nav Bar -->
          <div class="row">
            <div class="col">
              <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                  <!-- Links -->
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" routerLink="homepage">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="news-feed-page">Browse News</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">My News</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Search Articles</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>

          <!-- Quick Navbar Links to News Categories -->
          <div class="row">
            <div class="col">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">News</a>
                <br>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedCategories" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedCategories">

                  <!-- Quick News Links -->
                  <div class="d-flex flex-wrap category-wrapper">
                    <a><button type="button" class="btn btn-general">General</button></a>
                    <a><button type="button" class="btn btn-sports">Sports</button></a>
                    <a><button type="button" class="btn btn-health">Health</button></a>
                    <a><button type="button" class="btn btn-business">Business</button></a>
                    <a><button type="button" class="btn btn-technology">Technology</button></a>
                    <a><button type="button" class="btn btn-science">Science</button></a>
                    <a><button type="button" class="btn btn-entertainment">Entertainment</button></a>
                  </div>
                </div>
              </nav>
            </div>
          </div>

          <!-- Breadcrumb Code -->
          <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb rounded-0">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Library</li>
                  <li class="ml-auto">Todays Date: {{currentDate}}</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 pb-3">
        <app-account-card></app-account-card>
      </div>
    </div>
  </div>
</header>