.username-holder {
  width: 220px;
  margin: 0%;
  word-wrap: break-word;
}

.sign-in-btn:hover>a,
.sign-in-btn:hover {
  color: white;
}

.card-button{
  font-size: 15px;
  min-height: 40px;
  max-height: 70px;
  margin-bottom: 10px;
}
