<div class="row mb-5 mt-5">
	<!-- Web App Logo -->
	<div class="col logo">
		<h1>The Hawkers Journal</h1>
	</div>
</div>

<div class="row">
	<div class="col">
		<!-- About Us Info Code -->
		<div class="card bg-secondary mb-3">
			<div class="card-header">
				<h1>About The Hawkers Journal <i class="bi bi-info-square-fill in-text-icon"></i></h1>
			</div>
			<div class="card-body">
				<p class="bigger-text">
					The Hawkers Journal is a web application created as part of a dissertation primarily focused on
					being
					developed using microservices as a proof of concept but as well as demonstrating the developers
					own skill.
				</p>
				<p class="bigger-text">
					Overall, the website allows for users to read daily news articles based on
					news categories but also set their preferences with the creation of an account for a more
					customised news reading experience. Users with accounts can set their favourite news categories they
					wish to read regularly from along with the country they wish to receive news from, they can also
					blacklist certain news sources from their news feed.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row mt-5 mb-5">
	<!-- Get Started Button Code -->
	<div class="col d-flex justify-content-center">
		<a class="btn btn-primary btn-lg" routerLink="news-feed-page" role="button">Get Started <i
				class="bi bi-newspaper btn-icon bigger-text"></i></a>
	</div>
</div>