<div class="row jumbotron">
  <div class="col-6">

    <a [href]="article.url">
      <h2 class="title">{{ article.title }}</h2>
    </a>

    <div>

      <ul>
        <li>{{ article.author }}</li>

        <li>{{ article.source }}</li>

        <li>{{ article.category }}</li>

        <li>{{ article.language }}</li>

        <li>{{ article.publishedAt }}</li>

        <li>{{ article.countryOrigin }}</li>
      </ul>
    </div>

    <div>
        <p>{{ article.description }}</p>
    </div>

  </div>
  <div class="col-auto">

    <img class="img" [src]="article.imageUrl" height="300" />

  </div>
</div>