<div class="p-3 border filter-wrapper shadow-sm">
  <h4>Filters</h4>
  <form>
    <div class="d-flex flex-column justify-content-between">
      <!-- News Topics Filter Options (Toggled) -->
      <div class="form-item">
        <div
          id="topicsContainer"
          class="btn-group btn-group-toggle d-flex
          flex-wrap mb-3" data-toggle="buttons">

          <label
            class="btn btn-outline-general mr-1"
            for="general-checkbox"
            [ngClass]="{ 'btn-outline-general-filled': generalCheck }">
            <input
              id="general-checkbox"
              type="checkbox"
              value="general"
              (change)="generalChecked($event)"
              />
            General
          </label>

          <label
            class="btn btn-outline-sports mr-1"
            for="sports-checkbox"
            [ngClass]="{ 'btn-outline-sports-filled': sportsCheck }">
            <input
              id="sports-checkbox"
              type="checkbox"
              value="sports"
              (change)="sportsChecked($event)"
              />
            Sports
          </label>

          <label
            class="btn btn-outline-health mr-1"
            for="health-checkbox"
            [ngClass]="{ 'btn-outline-health-filled': healthCheck }">
            <input
              id="health-checkbox"
              type="checkbox"
              value="health"
              (change)="healthChecked($event)"
              />
            Health
          </label>

          <label
            class="btn btn-outline-business mr-1"
            for="business-checkbox"
            [ngClass]="{ 'btn-outline-business-filled': businessCheck }">
            <input
              id="business-checkbox"
              type="checkbox"
              value="business"
              (change)="businessChecked($event)"
              />
            Business
          </label>

          <label
            class="btn btn-outline-technology mr-1"
            for="technology-checkbox"
            [ngClass]="{ 'btn-outline-technology-filled': technologyCheck }">
            <input
              id="technology-checkbox"
              type="checkbox"
              value="technology"
              (change)="technologyChecked($event)"
              />
            Technology
          </label>

          <label
            class="btn btn-outline-science mr-1"
            for="science-checkbox"
            [ngClass]="{ 'btn-outline-science-filled': scienceCheck }">
            <input
              id="science-checkbox"
              type="checkbox"
              value="science"
              (change)="scienceChecked($event)"
              />
            Science
          </label>

          <label
            class="btn btn-outline-entertainment mr-1"
            for="entertainment-checkbox"
            [ngClass]="{
            'btn-outline-entertainment-filled': entertainmentCheck
            }">
            <input
              id="entertainment-checkbox"
              type="checkbox"
              value="entertainment"
              (change)="entertainmentChecked($event)"
              />
            Entertainment
          </label>
        </div>
      </div>

      <div class="d-flex flex-wrap justify-content-start">
        <!-- Country Selector Code -->
        <div class="form-item mt-2">
          <label class="mr-2" for="country_selector">Country</label>
          <input id="country_selector" type="text" />
        </div>
        <div class="form-item" style="display: none">
          <input
            #countryInput
            type="text"
            id="country_selector_code"
            name="country_selector_code"
            data-countrycodeinput="1"
            readonly="readonly"
            placeholder="Selected country code will appear here"
            />
        </div>

        <!-- Filter Button -->
        <button
          type="button"
          (click)="getArticles()"
          class="btn btn-primary mb-2 mt-2 ml-auto p-2">
          Search<i class="bi bi-search in-text-icon ml-2"></i>
        </button>
      </div>
    </div>
  </form>
</div>
