<div class="card mb-3 rounded w-50">
    <div class="bg-dark article-category-header">Category</div>
    <a href="#" target="_blank">
        <h3 class="card-header">Breaking news</h3>
    </a>
    <div class="card-body">
        <a href="#" class="card-link" target="_blank">Source: XXXX</a>
        <span class="ml-2">Date: XXX</span>
        <span class="ml-2">Author: XXX</span>
    </div>
    <div class="card-body pt-0">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
    </div>
</div>