<div
  *ngIf="showLoading"
  class="d-flex flex-column align-items-center justify-content-center loading-bar">
  <h4>Please Wait</h4>
  <mat-spinner></mat-spinner>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="d-flex flex-column">
      <div *ngFor="let article of articles; let i = index">
        <div *ngIf="i % 2 == 0">
          <div  #firstArticleColumn
            *ngIf="
              article.imageUrl != 'null';
              then largeArticle;
              else smallArticle
            "
          ></div>
        </div>
        <ng-template #largeArticle>
          <app-large-article [article]="article"></app-large-article>
        </ng-template>

        <ng-template #smallArticle>
          <app-small-article [article]="article"></app-small-article>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="d-flex flex-column">
      <div *ngFor="let article of articles; let i = index">
        <div *ngIf="i % 2 != 0">
          <div #secondArticleColumn
            *ngIf="
              article.imageUrl != 'null';
              then largeArticle;
              else smallArticle
            "
          ></div>
        </div>
        <ng-template #largeArticle>
          <app-large-article [article]="article"></app-large-article>
        </ng-template>

        <ng-template #smallArticle>
          <app-small-article [article]="article"></app-small-article>
        </ng-template>
      </div>
    </div>
  </div>
</div>
