/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: Cinzel;
  src: url(./assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}

@font-face {
  font-family: Lora;
  src: url(./assets/fonts/Lora/Lora-VariableFont_wght.ttf);
}

html,
body {
  margin: 0;

}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

a {
  color: #0000FF;
}

p {
  font-size: 20px;
  color: black;
  text-align: justify;
}

@media only screen and (max-width: 900px) {
  p {
    text-align: left;
  }
}

.btn-sports {
  background-color: #009c05;
  color: white;
}

.btn-health {
  background-color: #006ba1;
  color: white;
}

.btn-general {
  background-color: #424242;
  color: white;
}

.btn-business {
  background-color: #0055de;
  color: white;
}

.btn-technology {
  background-color: #4300c9;
  color: white;
}

.btn-science {
  background-color: #00c3d1;
  color: white;
}

.btn-entertainment {
  background-color: #edba00;
  color: white;
}

.btn-sports {
  background-color: #009c05;
  color: white;
}
