/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Cinzel;
  src: url(./assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}

html,
body {
  margin: 0;

}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  color: #0000FF;
}

p,
label {
  font-size: 20px;
  color: black;
  text-align: justify;
}

.text-wrap{
  word-wrap: break-word;
}

button a{
  color:black;
}

.bigger-text {
  font-size: 25px;
}

@media only screen and (max-width: 900px) {
  p {
    text-align: left !important;
  }
}

@media (max-width: 768px) {
    .logo h1, .logo {
        font-size: 40px !important;
    }
}

.sports-colour{
  background-color: #009c05;
  color: white;
}

.general-colour{
  background-color: #424242;
  color: white;
}

.health-colour{
  background-color: #d9534f;
  color: white;
}

.science-colour{
  background-color: #00c3d1;
  color: white;
}

.entertainment-colour{
  background-color: #edba00;
  color: white;
}

.technology-colour{
  background-color: #4300c9;
  color: white;
}

.business-colour{
  background-color: #0055de;
  color: white;
}

.btn-sports {
  background-color: #009c05;
  color: white;
}

.btn-health {
  background-color: #d9534f;
  color: white;
}

.btn-general {
  background-color: #424242;
  color: white;
}

.btn-business {
  background-color: #0055de;
  color: white;
}

.btn-technology {
  background-color: #4300c9;
  color: white;
}

.btn-science {
  background-color: #00c3d1;
  color: white;
}

.btn-entertainment {
  background-color: #edba00;
  color: white;
}

.btn-sports:hover,
.btn-health:hover,
.btn-general:hover,
.btn-business:hover,
.btn-technology:hover,
.btn-science:hover,
.btn-entertainment:hover {
  background-color: black;
  color: white;
}

.btn-outline-sports {
  background-color: white;
  color: #009c05;
  border-color: #009c05;
}

.btn-outline-health {
  background-color: white;
  color: #d9534f;
  border-color: #d9534f;
}

.btn-outline-general {
  background-color: white;
  color: #424242;
  border-color: #424242;
}

.btn-outline-business {
  background-color: white;
  color: #0055de;
  border-color: #0055de;
}

.btn-outline-technology {
  background-color: white;
  color: #4300c9;
  border-color: #4300c9;
}

.btn-outline-science {
  background-color: white;
  color: #00c3d1;
  border-color: #00c3d1;
}

.btn-outline-entertainment {
  background-color: white;
  color: #edba00;
  border-color: #edba00;
}


.btn-outline-sports:hover {
  background-color: #009c05;
  color: white;
  border-color: #009c05;
}

.btn-outline-health:hover {
  background-color: #d9534f;
  color: white;
  border-color: #d9534f;
}

.btn-outline-general:hover {
  background-color: #424242;
  color: white;
  border-color: #424242;
}

.btn-outline-business:hover {
  background-color: #0055de;
  color: white;
  border-color: #0055de;
}

.btn-outline-technology:hover {
  background-color: #4300c9;
  color: white;
  border-color: #4300c9;
}

.btn-outline-science:hover {
  background-color: #00c3d1;
  color: white;
  border-color: #00c3d1;
}

.btn-outline-entertainment:hover {
  background-color: #edba00;
  color: white;
  border-color: #edba00;
}

.btn-outline-sports-filled {
  background-color: #009c05;
  color: white;
  border-color: #009c05;
}

.btn-outline-health-filled {
  background-color: #d9534f;
  color: white;
  border-color: #d9534f;
}

.btn-outline-general-filled {
  background-color: #424242;
  color: white;
  border-color: #424242;
}

.btn-outline-business-filled {
  background-color: #0055de;
  color: white;
  border-color: #0055de;
}

.btn-outline-technology-filled {
  background-color: #4300c9;
  color: white;
  border-color: #4300c9;
}

.btn-outline-science-filled {
  background-color: #00c3d1;
  color: white;
  border-color: #00c3d1;
}

.btn-outline-entertainment-filled {
  background-color: #edba00;
  color: white;
  border-color: #edba00;
}
